*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.margin-lr{
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-top-big{
    margin-top: 12rem;
}

.flex{
    display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container70{
    width: 70%;
    margin: 0 auto;
    
}

.container50{
    width: 50%;
    margin: 0 auto;
    /* background-color: rosybrown; */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blue-button{
    background-color: #0061ff;
    color: white;
    padding: .75rem 1rem;
    border: none;
    margin: 1.5rem 0;
}

.full-width{
    width: 100%;
}

.h1-mod{
    font-size: 2.3rem;
    padding-bottom: 2.3rem;
}


/* header section */
header{
    background-color: white;
    width: 100%;
    height: 85px;
    padding: 0 1rem;
}

#start{
    background-color: #0061ff;
    color: white;
    padding: .5rem .75rem;
}

.left-bar-header>ul,
.right-bar-header>ul {
    display: flex;
    flex-direction: row;
}

.left-bar-header ul>li,
.right-bar-header ul>li{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 2rem ;
}

/* end header section */

/* intro-section */
.intro-section{
    background-color:#b4d0e7;
   
}

.intro-section-title h1{
    font-size: 5rem;
   
}

.intro-section-title{
    
    position: relative;
    bottom: -80px;
}

.intro-section-items{
    padding-top: 3rem;
}

.text-intro-section-items{
    flex-basis: 35%;
}

.img-intro-section-items{
    flex-basis: 65%;
}

div.img-intro-section-items img{
    width: 100%;
    
}

div.text-intro-section-items p#margin{
    margin-bottom: 2.5rem;
}

.fa-arrow-down{
    font-size: 3.5rem;
}
/* end intro section */

/* business-section */

.radio-button{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

label[for=fatturazione-mensile]{
    padding-right: 3rem;
}

{
    padding-right: 2rem;
}

div.columns-business-section{
    width: 100%;
    font-size: 0.9rem;
}

.multi {
    width: calc(100% / 3);
}

div.col-business{
    border: 1px #dbdbdd solid;    
}

.card-icon{
    text-align: center;
    border: 1px #dbdbdd solid;
    padding: .7rem 0;
}

.card-text{
    border: 1px #dbdbdd solid;
    padding: 1rem 1.5rem;
}

.card-text hr{
    width: 30%;
    text-align: left;
    color: #dbdbdd;
    margin: 3em 0;
}

.fa-check{
    color: #0061ff;
}

.price{
    font-weight: bold;
    margin-bottom: .5rem;
}

.title-card{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.month-card{
    margin-bottom: 2.5rem;
}

.icon{
    margin-bottom: 1.5rem;
}

.sub-title{
    margin-bottom: 2rem;
}




/* end business-section */

/* partner-section */


    div.img-container-partner-section img{
        width: 100%;
    }

    .img-container-parter-section{
        width: 30%;
    }

    .text-container-partner-section{
        width: 70%;
    }


    /* end partner section */

    /* more-operations setting */

    .container-more-operations-columns{
       width: 100%;
    }

    .col-operations{
        width: calc(100% / 3);
    }

    div.col-operations img{
        width: 100%;
    }

    /* end more-operations setting */