*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container80{
    width: 80%;
    margin: 0 auto;
    background-color: pink;
}

.container70{
    width: 70%;
    margin: 0 auto;
    background-color: rosybrown;
}

/* header section */
header{
    background-color: lime;
    width: 100%;
    height: 85px;
    padding: 0 1rem;
}

.left-bar-header>ul,
.right-bar-header>ul {
    display: flex;
    flex-direction: row;
}

.left-bar-header ul>li,
.right-bar-header ul>li{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 2rem ;
}

/* end header section */

/* intro-section */
.intro-section{
    background-color:#b4d0e7;
    height: 70vh;
}

.intro-section-title{
    padding-top: 3rem;
}

.text-intro-section-items{
    flex-basis: 35%;
}

.img-intro-section-items{
    flex-basis: 65%;
}

div.img-intro-section-items img{
    width: 100%;
}
/* end intro section */






/* partner-section */
    div.img-container-partner-section img{
        height: 650px;
    }