*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general */
body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1400px;
}

main{
    padding-top: 85px;
}

.margin-lr{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.margin-top-big{
    margin-top: 12rem;
}

.margin-bottom-big{
    margin-bottom: 10rem;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-space-between-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-stretch{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.container70{
    width: 70%;
    margin: 0 auto;
    
}

.container50{
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-full{
    width: 50%;
    margin: 0 auto;
}

.blue-button{
    background-color: #0061ff;
    color: white;
    padding: .75rem 1rem;
    border: none;
    margin: 1.5rem 0;
}

.white-button{
    background-color: white;
    color: black;
    padding: .75rem 1rem;
    margin: 1.5rem 0;
    border: 1px solid black;

}

.h1-mod{
    font-size: 2.3rem;
    padding-bottom: 3rem;
}

/* multiple selector */
.full-width-button,
.container-more-operations-columns,
div.img-container-partner-section img,
div.col-operations img{
    width: 100%;
}

.card-text hr,
.square hr,
.language-selector hr{
    width: 30%;
    text-align: left;
    color: #dbdbdd;
    margin: 3em 0;
}

.col-operations h2,
.icon,
.text-container-partner-section p{
    margin-bottom: 1.5rem;    
}

.left-bar-header ul>li,
.right-bar-header ul>li{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 2rem ;
}
/* end multiple selector */

/* general */

/* header section */
header{
    background-color: white;
    width: 100%;
    height: 85px;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

#start{
    background-color: #0061ff;
    color: white;
    padding: .5rem .75rem;
}
/* end header section */


/* intro-section */
.intro-section{
    background-color:#b4d0e7;
}

.intro-section-title h1{
    font-size: 5rem;
   
}

.intro-section-title{
    
    position: relative;
    bottom: -80px;
}

.intro-section-items{
    padding-top: 3rem;
}

.text-intro-section-items{
    flex-basis: 35%;
}

.img-intro-section-items{
    flex-basis: 65%;
}

div.img-intro-section-items img{
    width: 850px;
    height:500px;
    
}

div.text-intro-section-items p#margin{
    margin-bottom: 2.5rem;
}

.fa-arrow-down{
    font-size: 3.5rem;
}
/* end intro section */

/* business-section */
.radio-button{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

label[for=fatturazione-mensile]{
    padding-right: 3rem;
}

div.columns-business-section{
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}

.multi {
    width: calc(100% / 3);
}

div.col-business{
    border: 1.5px #dbdbdd solid;    
}

.card-icon{
    text-align: center;
    border-bottom: 1px #dbdbdd solid;
    padding: .7rem 0;
}

.card-text{
    padding: 1rem 1.5rem;
}

.card-text-single{
    padding: 1rem 1.5rem;
    width: 70%;
}

.flex-card{
    padding: 1rem 1.5rem;
    
}

.fa-check{
    color: #0061ff;
}

.price{
    font-weight: bold;
    margin-bottom: .5rem;
}

.title-card{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.title-card-single{
    margin-bottom: 1rem;
}

.month-card{
    margin-bottom: 2.5rem;
}

.sub-title{
    margin-bottom: 2rem;
}

.contact-card{
    font-weight: bold;
    margin-bottom: 3rem;
}
/* end business-section */

/* partner-section */
    .img-container-parter-section{
        width: 10%;
    }

    .text-container-partner-section{
        width: 90%;
        padding: 3rem 3rem 0 3rem;
    }

    .text-container-partner-section h2{
        margin-bottom: 1rem;
    }
    /* end partner section */

    /* more-operations setting */
    .col-operations{
        width: calc(100% / 3);
    }
    /* end more-operations setting */

    /* clients section */
    .square{
        width: calc(100vw / 3);
        height: calc(100vw / 3);
    }
    
    .square-content{
        width: calc(100% / 2);
        height: calc(100% / 2);
        background-color: blue;
    }

    div.square-content path{
        fill: white;
    }

    div.square-content svg{
        width: 50%;
    }

    div.square>svg{
        height: 13%;
        width: 40%;
    }

    .green-sq {
        background-color:#a2d39b;
        border: 1rem solid #d1e9cd;
    }

    .brown-sq{
        background-color:#61082b;
    }

    .turquoise-sq{
        background-color: #0093ce;
    }

    .orange-sq{
        background-color: #ff1c1c;
    }

    .red-sq{
        background-color: #d5001f;
    }

    .lightblue-sq{
        background-color: #b4d0e7;
    }

    .blue-sq{
        background-color: #0d2481;
    }

    .yellow-sq{
        background-color: #ffd830;
    }

    .grey-sq{
      background-color: #f5f5f5;
      padding: 3rem;
    }
    /* end clients section */

    /* company section */
    .company-section{
        background-color:#b4d0e7;
        height: 400px;
    }

    .company-container h1{
        padding: 0;
        color: #61082b;
    }

    .company-container-button button{
    padding: .75rem 3rem;
    border: none;
    }

    .company-container-text{
        flex-basis: 55%;
    }
    /* end company section */

    /* faq section */
    .divider-p-bottom {
        padding: 2rem 2rem 2rem 0rem;
        border-bottom: black 1px solid;
    }

    .divider-p-top{
        border-top: black 1px solid;
    }
    /* end faq section */

    /* footer */
    footer{
        background-color: black;
        color: white;
        padding-top: 5em;
        padding-bottom: 3rem;
    }

    footer ul{
        list-style-type: none;
    
    }

    footer ul>li{
        padding: .5rem 0;
    }

    footer ul>li:first-child{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }

    .language-selector hr{
        width: 10%;
    }

    .language-selector{
        color: #999999 ;
    }
    /* end footer */